<% if(language === ""){ %>
  <% var twitterText = htmlWebpackPlugin.options.twitterText %>
  <% var facebookText = htmlWebpackPlugin.options.facebookText %>
  <% var lineText = htmlWebpackPlugin.options.lineText %>
<% } else if(language === "en") {%>
  <% var twitterText = htmlWebpackPlugin.options.twitterTextEn %>
  <% var facebookText = htmlWebpackPlugin.options.facebookTextEn %>
  <% var lineText = htmlWebpackPlugin.options.lineTextEn %>
<% } else { %>
  <% var twitterText = htmlWebpackPlugin.options.twitterTextCn %>
  <% var facebookText = htmlWebpackPlugin.options.facebookTextCn %>
  <% var lineText = htmlWebpackPlugin.options.lineTextCn %>
<% } %>
<footer>
  <div class="wrapper">
    <div class="sns-box">
      <a href="<%= twitterText %>" title="" target="_blank" class="sns-xi-btn" data-tracking="<%= trackingId %>,share,twitter"></a>
      <a href="<%= facebookText %>" title="Facebook" target="_blank" class="sns-fb-btn" data-tracking="<%= trackingId %>,share,facebook"></a>
    </div>
    <p class="copyright">©Why so serious, Inc. All right reserved.</p>
  </div>
</footer>
