<!-- お知らせモーダル -->
<div class="modal micromodal-slide" id="information-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          過去のひだまり通信
        </h2>
      </header>
      <button class="modal__close" aria-label="モーダルを閉じる" data-micromodal-close></button>
      <main class="modal__content" id="modal-1-content">
        <ul class="modal-list">
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 12月号" target="_blank">
              ひだまり通信 12月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 11月号" target="_blank">
              ひだまり通信 11月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 10月号" target="_blank">
              ひだまり通信 10月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 9月号" target="_blank">
              ひだまり通信 9月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 8月号" target="_blank">
              ひだまり通信 8月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 7月号" target="_blank">
              ひだまり通信 7月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 6月号" target="_blank">
              ひだまり通信 6月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 5月号" target="_blank">
              ひだまり通信 5月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 4月号" target="_blank">
              ひだまり通信 4月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 3月号" target="_blank">
              ひだまり通信 3月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 2月号" target="_blank">
              ひだまり通信 2月号
            </a>
          </li>
          <li>
            <a href="/pdf/sample.pdf" title="ひだまり通信 1月号" target="_blank">
              ひだまり通信 1月号
            </a>
          </li>
        </ul>
      </main>
    </div>
  </div>
</div> 