<!-- お知らせモーダル -->
<div class="modal micromodal-slide" id="information-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          過去のひだまり通信
        </h2>
      </header>
      <button class="modal__close" aria-label="モーダルを閉じる" data-micromodal-close></button>
      <main class="modal__content" id="modal-1-content">
        <ul class="modal-list">
          <li>
            <a href="pdf/hidamari/2025/hidamari08.pdf" title="ひだまり　令和７年８月号" target="_blank">
              ひだまり　令和７年８月号
            </a>
          </li>
          <li>
            <a href="pdf/hidamari/2025/hidamari07.pdf" title="ひだまり　令和７年７月号" target="_blank">
              ひだまり　令和７年７月号
            </a>
          </li>
          <li>
            <a href="pdf/hidamari/2025/hidamari06.pdf" title="ひだまり　令和７年６月号" target="_blank">
              ひだまり　令和７年６月号
            </a>
          </li>
          <li>
            <a href="/pdf/pamphlet.pdf" title="パンフレット" target="_blank">
              パンフレット
            </a>
          </li>
          <li>
            <a href="pdf/gakkoue.pdf" title="学校へ行きたくても行けないこどもさんへの支援" target="_blank">
              学校へ行きたくても行けないこどもさんへの支援
            </a>
          </li>
          <li>
            <a href="/pdf/support_program.pdf" title="支援プログラム" target="_blank">
              支援プログラム
            </a>
          </li>
        </ul>
      </main>
    </div>
  </div>
</div>