@import 'etc/all.css';
@import 'partial/footer.css';

body {
  @mixin setImgProperty "bg.jpg";

  background-repeat: repeat;
  height: auto;
  width: auto;
}

.header {
  width: 100%;
  height: 63px;
  background-color: white;

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    font-family: 'Abhaya Libre ExtraBold';

    a {
      color: #013C60;
      font-size: 20px;
      font-weight: 800;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.fv {
  height: 443px;
//background: rgba(200, 200, 200, 0.2);

  .fv-content {
    width: 744.12px;
    height: 312.23px;
    left: 130px;
    right: 0;
    margin: 0 auto;
    top: 68.76px;
    position: absolute;

    .rainbow {
      width: 239.06px;
      height: 203.09px;
      left: 0.99px;
      top: 53px;
      position: absolute;
      transform: rotate(1deg);
      transform-origin: top left;
    }

    .en-logo {
      position: absolute;
      top: -10px;
      left: 240px;
    }

    [data-layer="みらいキッズ"] {
      width: 500.30px;
      height: 187.13px;
      left: 240px;
      top: 120px;
      position: absolute;
      transform: rotate(-10deg);
      transform-origin: top left;
      color: #FFC704;
      font-size: 120px;
      font-family: Darumadrop One;
      font-weight: 400;
      word-wrap: break-word;
    }
  }
}

.top {
  position: relative;
  margin: 0 auto;
}

.greeting {
  height: 916px;
  width: 100%;
  background: rgba(255, 255, 255, 0.20);
  overflow: hidden;
  position: relative;

  .circle1 {
    left: -1358px;
    right: 0;
    margin: 0 auto;
    top: 263px;
    position: absolute;
    width: 653px;
  }

  .circle2 {
    left: 0;
    right: -1200px;
    margin: 0 auto;
    top: -182px;
    position: absolute;
    width: 692px;
  }

  .circle3 {
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 900px;
  }

  .wrapper {
    .title {
      color: #013C60;
      font-size: 35px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
      text-align: center;
      margin: 180px auto 0;
    }

    .sub-title {
      margin: 20px auto 0;
      color: #013C60;
      font-size: 20px;
      font-family: Asap;
      font-weight: 700;
      word-wrap: break-word;
      text-align: center;
    }

    .text1 {
      width: 774px;
      margin: 70px auto 0;
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      text-align: center;
    }

    .banzai {
      margin: 85px auto 0;
      display: block;
    }

    .text2 {
      margin: 20px auto 0;
      text-align: center;
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
    }
  }
}

.values {
  background: rgba(255, 238.57, 181.44, 0);
  overflow: hidden;

  .wrapper {
    text-align: center;

    .title {
      color: #013C60;
      font-size: 35px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
      margin: 135px 0 0;
    }

    .sub-title {
      color: #013C60;
      font-size: 20px;
      font-family: Asap;
      font-weight: 700;
      word-wrap: break-word;
      margin: 20px 0 0;
    }

    .text {
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      margin: 76px 0 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 200px;
      display: flex;
      column-gap: 30px;
      row-gap: 20px;
      justify-content: center;
      flex-wrap: wrap;

      li {
        position: relative;
        display: block;
        width: width("li_bg1.png");
        height: height("li_bg1.png");

        &:nth-child(1) {
          background: resolve("li_bg1.png") center top no-repeat;
        }

        &:nth-child(2) {
          background: resolve("li_bg2.png") center top no-repeat;
          background-size: contain;
        }

        &:nth-child(3) {
          background: resolve("li_bg3.png") center top no-repeat;
          background-size: contain;
        }

        &:nth-child(4) {
          background: resolve("li_bg4.png") center top no-repeat;
          background-size: contain;
        }

        &:nth-child(5) {
          background: resolve("li_bg5.png") center top no-repeat;
          background-size: contain;

          .li-title {
            padding-top: 105px;
          }
        }

        .li-title {
          color: #013C60;
          font-size: 25px;
          font-family: Abhaya Libre ExtraBold;
          font-weight: 800;
          word-wrap: break-word;
          line-height: 35px;
          text-align: center;
          padding-top: 70px;
        }

        .li-text {
          color: #013C60;
          font-size: 25px;
          font-family: Abhaya Libre ExtraBold;
          font-weight: 500;
          word-wrap: break-word;
          margin-top: 40px;
          line-height: 35px;
          padding: 0 35px;
        }
      }
    }
  }
}

.day {
  position: relative;
  text-align: center;
  padding: 100px 0 150px;

  .title {
    color: #013C60;
    font-size: 35px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    word-wrap: break-word;
    margin: 0 auto 20px;
  }

  .sub-title {
    color: #013C60;
    font-size: 20px;
    font-family: Asap;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0 auto 30px;
  }

  .text {
    color: #013C60;
    font-size: 20px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    line-height: 40px;
    word-wrap: break-word;
    margin: 0 auto 40px;
  }

  .days {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1093px;
    margin: 0 auto;

    .rectangle {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;

      path {
        fill: #FFEFB5;
      }
    }

    .day1,
    .day2 {
      position: relative;
      display: block;
      width: 50%;
      padding: 70px 0 0 60px;

      h3 {
        font-family: 'Abhaya Libre ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        color: #013C60;
        margin-bottom: 20px;
      }

      p {
        font-family: 'Abhaya Libre ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
        color: #013C60;
        text-align: left;

        &.remark {
          font-size: 18px;
          line-height: 30px;
        }

        &.margin {
          margin-top: 60px;
        }
      }

      .school {
        margin: 10px auto;
      }

      .block-asobi-boy {
        position: absolute;
        top: 325px;
        left: 320px;
      }

      .oekaki-girl {
        position: absolute;
        top: 470px;
        left: 280px;
      }

      .study-school-jugyou-girl {
        position: absolute;
        top: 177px;
        left: 350px;
      }

      .obentou {
        position: absolute;
        top: 325px;
        left: 340px;
      }

      .school-bus {
        position: absolute;
        top: 530px;
        left: 320px;
      }
    }

    .day2 {
      margin-right: 60px;
    }
  }
}

.howtouse {
  overflow: hidden;
  text-align: center;
  padding: 100px 0;

  .title {
    color: #013C60;
    font-size: 35px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    word-wrap: break-word;
  }

  .sub-title {
    color: #013C60;
    font-size: 20px;
    font-family: Asap;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 20px;
  }

  .flow {
    color: #013C60;
    font-size: 20px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    word-wrap: break-word;
    margin: 50px auto 0;
    text-align: left;
    width: 1100px;
  }

  .flow-remark {
    color: #013C60;
    font-size: 20px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    word-wrap: break-word;
    margin: 10px auto 0;
    text-align: left;
    width: 1100px;
  }

  .detail {
    position: relative;
    margin-top: 40px;

    .rectangle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;

      svg {
        width: 1103px;
        height: 552px;
      }

      path {
        fill: #FFEFB5;
      }
    }

    .detail-text {
      width: 741.72px;
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      white-space: pre-line;
      position: relative;
      text-align: left;
      margin: 0 auto;
      padding: 50px 0 110px;
    }
  }
}

.information {
  overflow: hidden;
  text-align: center;

  .wrapper {
    max-width: 1400px;
    padding: 110px 30px;
  }

  .title {
    color: #013C60;
    font-size: 35px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 800;
    word-wrap: break-word;
  }

  .sub-title {
    color: #013C60;
    font-size: 20px;
    font-family: Asap;
    font-weight: 700;
    word-wrap: break-word;
    margin: 20px auto;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 70px;
    text-align: left;
    margin-top: 90px;
    padding: 0 150px;

    a {
      height: 40px;
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:before {
        @mixin setImgProperty "star.svg";

        content: '';
        position: relative;
        display: inline-block;
        padding-right: 40px;
        background-repeat: no-repeat;
        margin-top: -5px;
      }
    }
  }
}

.contact {
  overflow: hidden;
  text-align: center;
  padding: 100px 0;

  .wrapper {
    .title {
      color: #013C60;
      font-size: 35px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
    }

    .sub-title {
      color: #013C60;
      font-size: 20px;
      font-family: Asap;
      font-weight: 700;
      word-wrap: break-word;
      margin-top: 20px;
    }

    .text {
      width: 838px;
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      white-space: pre-line;
      text-align: left;
      margin: 0 auto;
    }

    .map {
      max-width: 1204px;
      width: 95%;
      height: auto;
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    height: 120px;
    background-color: white;

    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
      font-family: 'Abhaya Libre ExtraBold';
      flex-wrap: wrap;

      img {
        margin-top: 20px;
      }

      a {
        color: #013C60;
        font-size: 20px;
        font-weight: 800;
        text-decoration: none;
        display: inline-block;
      }
    }
  }

  .fv {
    height: 443px;

    .wrapper {
      overflow: visible;
    }

    .fv-content {
      left: 0;
      transform: scale(0.8);
    }
  }

  .day {
    position: relative;
    text-align: center;
    padding: 100px 0 150px;

    .title {
      color: #013C60;
      font-size: 35px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
      margin: 0 auto 20px;
    }

    .sub-title {
      color: #013C60;
      font-size: 20px;
      font-family: Asap;
      font-weight: 700;
      word-wrap: break-word;
      margin: 0 auto 30px;
    }

    .text {
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      line-height: 40px;
      word-wrap: break-word;
      margin: 0 auto 40px;
    }

    .days {
      width: 750px;
      flex-wrap: wrap;
      background-color: #FFEFB5;
      padding-bottom: 100px;

      .rectangle {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 750px;

        path {
          fill: #FFEFB5;
        }
      }

      .day1,
      .day2 {
        position: relative;
        display: block;
        width: 750px;
        padding: 70px 0 0 60px;

        h3 {
          font-family: 'Abhaya Libre ExtraBold';
          font-style: normal;
          font-weight: 800;
          font-size: 25px;
          line-height: 40px;
          text-align: center;
          color: #013C60;
          margin-bottom: 20px;
        }

        p {
          font-family: 'Abhaya Libre ExtraBold';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 50px;
          color: #013C60;
          text-align: left;

          &.remark {
            font-size: 18px;
            line-height: 30px;
          }

          &.margin {
            margin-top: 60px;
          }
        }

        .school {
          margin: 10px auto;
        }

        .block-asobi-boy {
          position: absolute;
          top: 325px;
          left: 320px;
        }

        .oekaki-girl {
          position: absolute;
          top: 470px;
          left: 280px;
        }

        .study-school-jugyou-girl {
          position: absolute;
          top: 177px;
          left: 350px;
        }

        .obentou {
          position: absolute;
          top: 325px;
          left: 340px;
        }

        .school-bus {
          position: absolute;
          top: 530px;
          left: 320px;
        }
      }

      .day2 {
        margin-right: 60px;
      }
    }
  }

  .howtouse {
    overflow: hidden;
    text-align: center;
    padding: 100px 0;

    .title {
      color: #013C60;
      font-size: 35px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
    }

    .sub-title {
      color: #013C60;
      font-size: 20px;
      font-family: Asap;
      font-weight: 700;
      word-wrap: break-word;
      margin-top: 20px;
    }

    .flow {
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
      margin: 50px auto 0;
      text-align: left;
      width: 1100px;
    }

    .flow-remark {
      color: #013C60;
      font-size: 20px;
      font-family: Abhaya Libre ExtraBold;
      font-weight: 800;
      word-wrap: break-word;
      margin: 10px auto 0;
      text-align: left;
      width: 1100px;
    }

    .detail {
      position: relative;
      margin-top: 40px;

      .rectangle {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;

        svg {
          width: 1103px;
          height: 552px;
        }

        path {
          fill: #FFEFB5;
        }
      }

      .detail-text {
        width: 741.72px;
        color: #013C60;
        font-size: 20px;
        font-family: Abhaya Libre ExtraBold;
        font-weight: 800;
        line-height: 40px;
        word-wrap: break-word;
        white-space: pre-line;
        position: relative;
        text-align: left;
        margin: 0 auto;
        padding: 50px 0 110px;
      }
    }
  }
}
