@charset "UTF-8";

body {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

iframe[name="google_conversion_frame"] {
  position: absolute;
  height: 0;
  width: 0;
}

.disp-none {
  display: none;
}

#container {
  position: relative;
  z-index: 100;
  overflow-x: hidden;
}

.wrapper {
  width: 1400px;
  margin: auto;
  position: relative;

  @media screen and (max-width: 1400px) {
    width: 100%;
  }
}

.to-top-btn {
  position: absolute;
  bottom: 95px;
  right: 30px;
}

@media screen and (min-width: 751px) {
  a {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.v-sp {
  display: none;
}

@media screen and (max-width: 750px) {
  .v-pc {
    display: none;
  }

  .v-sp {
    display: block;
  }
  
  span {
    &.v-sp {
      display: inline;
    }
  }

  .wrapper {
    width: 750px;
    overflow-x: hidden;
  }

  .to-top-btn {
    bottom: 108px;
    right: 16px;
  }
}

section {
  position: relative;
}
