@define-mixin setImgProperty $imgPass {
  background: resolve($imgPass);
  width: width($imgPass);
  height: height($imgPass);
}

@define-mixin setBtnImg $imgPass {
  background: resolve($imgPass) no-repeat left top;
  width: width($imgPass);
  height: calc(height($imgPass) / 2);

  @media screen and (min-width: 641px) {
    &:hover {
      background-position: left bottom !important;
    }
  }
}

@define-mixin hoverOpacity {
  @media screen and (min-width: 641px) {
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
