<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <% include ../partial/_head_cn.ejs %>
  <script type="text/javascript">
      location.href="../cn/";
  </script>
</head>
<body style="background-color: #fff;"></body>
</html>
