footer {
  background: resolve("common/footer_bg.png") center top repeat-x;
  position: relative;
  padding: 52px 0 36px;

  .sns-box {
    display: flex;
    justify-content: center;

    a {
      margin: 0 16px;
    }

    .sns-xi-btn {
      @mixin setImgProperty "common/footer_sns_x.png";
    }

    .sns-fb-btn {
      @mixin setImgProperty "common/footer_sns_facebook.png";
    }
  }

  .copyright {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 640px) {
  footer {
    padding: 52px 0 60px;

    .sns-box {
      a {
        margin: 0 13px;
      }

      .sns-xi-btn {
        width: 41px;
        height: 37px;
        background-size: contain;
      }

      .sns-fb-btn {
        @mixin setImgProperty "sp/common/footer_sns_facebook.png";
      }
    }

    .copyright {
      font-size: 11px;
      margin-top: 35px;
    }
  }
}
