<% var path = htmlWebpackPlugin.options.path %>
<% var language = htmlWebpackPlugin.options.language %>
<% var trackingId = htmlWebpackPlugin.options.trackingId %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./partial/_head.ejs %>
</head>
<body>
<% include ./partial/_gtm.ejs %>

</body>
</html>
